.card {
  background-color: rgba(23, 32, 47, 1);
  color: white;
  padding: 1.7rem 1.4rem 1.2rem;
  margin-top: 1.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.header {
  display: flex;
  justify-content: left;
}

.avatar_wrapper {
  flex-shrink: 0;
  margin-right: 1rem;
  position: relative;
  top: -7px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.role {
  margin: 0.3rem 0 1rem 0;
  font-size: 0.9rem;
  color: #a0a0b0;
  font-weight: normal;
}

blockquote {
  margin: 0;
  font-style: italic;
  line-height: 1.6;
  color: #e0e0e0;
  font-size: 0.9rem;
}
