.block {
  width: 960px;
  background: linear-gradient(
    to bottom right,
    rgba(17, 25, 43, 0.4),
    rgba(138, 138, 150, 0.1),
    rgba(45, 45, 58, 0.1)
  );
  padding: 2rem 2.2rem;
  border-radius: 1.5rem;
  color: white;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  margin: 0.2rem 0 0;
}

p {
  color: #92a4c9;
  margin-top: 0.5rem;
}

.pills {
  display: flex;
  margin: 1.6rem 0 2.4rem;
}

.pill {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-size: 0.9rem;
}

.company {
  color: var(--primary-color);
}
