.block {
  width: 960px;
  background: linear-gradient(
    to bottom right,
    rgba(17, 25, 43, 0.4),
    rgba(138, 138, 150, 0.1),
    rgba(45, 45, 58, 0.1)
  );
  padding: 1.5rem 2.2rem 1rem;
  border-radius: 1.5rem;
  color: white;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.4rem;
  margin: 0.2rem 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: #92a4c9;
  margin: 0.4rem 0;
}

.pills {
  display: flex;
  margin: 1.6rem 0 2.4rem;
}

.pill {
  background-color: #232f48;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-size: 0.85rem;
  margin-right: 0.7rem;
  cursor: pointer;
  height: 1.3rem;
}

.pill.active {
  background-color: var(--primary-color);
  color: white;
}

.company {
  color: var(--primary-color);
}

.timeline {
  position: relative;
  padding-left: 40px;
  margin: 2rem auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #4a4a5a; /* color de la línea */
}

.timelineItem {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
}

.timeline-content {
  margin-left: 60px;
  padding: 1rem;
  background: rgba(45, 45, 58, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.timeline-content h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
  color: white;
}

.timeline-content p {
  margin: 0 0 0.5rem 0;
  color: #6e45e2;
  font-weight: bold;
}

.date {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}
