.card {
  background-color: #1a2233;
  color: white;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 31.4%;
  margin-bottom: 0rem;

  div {
    padding: 0.9rem 1.2rem 1.1rem;

    h4 {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
}

.img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.035);
  }
}

@media screen and (max-width: 1450px) {
  .card {
    width: 30.85%;
  }

  .img {
    height: 155px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 47.1%;
  }

  .img {
    height: 175px;
  }
}

@media screen and (max-width: 850px) {
  .card {
    width: 100%;
  }

  .img {
    height: 80%;
  }
}
