.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 3rem;
}

.brand {
  font-size: 1.1rem;
  font-weight: bold;

  img {
    width: 57px;
    position: relative;
    top: 13px;
    margin-right: -0.2rem;
  }
}

.list {
  display: flex;
  gap: 2rem;
  margin-top: 2.4rem;
  justify-content: flex-end;

  li {
    list-style: none;
  }

  a {
    font-weight: bold;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease;

    &:hover {
      color: white;
    }
  }
}
