.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0rem 1.1rem;
  margin-bottom: 2.5rem;
}

.brand {
  font-size: 1.1rem;
  font-weight: bold;

  img {
    width: 57px;
    position: relative;
    top: 13px;
    margin-right: -0.2rem;
  }
}

.list {
  display: flex;
  gap: 1rem;
  margin-top: 2.2rem;
  justify-content: flex-end;

  li {
    list-style: none;
    background-color: #232f48;
    color: var(--primary-color);
    padding: 0.5rem 1rem 0.4rem;
    border-radius: 1.2rem;
    font-size: 0.85rem;
    cursor: pointer;
    height: 1.3rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  a {
    font-weight: bold;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease;

    &:hover {
      color: white;
    }
  }
}
