.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin: 1.8rem 0 0;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    color: white;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2.2rem 0 2.9rem;
    color: var(--primary-color);
  }

  p {
    font-size: 1rem;
    color: white;
    line-height: 1.8;
  }
}

.profile_img_wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 1.8rem 0 0;

  img {
    width: 380px;
    border-radius: 1.5rem;
    object-fit: cover;
  }
}
