.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
  padding: 0.5rem;
  position: relative;
  top: -10px;

  section {
    padding: 3.5rem 3.5rem 2.9rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    color: white;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1.2rem 0 42px;
    color: var(--primary-color);
  }

  p {
    font-size: 1rem;
    color: white;
    line-height: 1.8;
  }

  .buttons {
    display: flex;
    gap: 0.7rem;
  }

  button {
    all: unset;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 1.2rem 1.2rem 1.2rem 4.1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 225px;
    position: relative;
    span {
      position: absolute;
      left: 26px;
      top: 17px;
    }
  }
}

.linkedin {
  width: 143px !important;
  background: linear-gradient(
    to bottom right,
    rgba(17, 25, 43, 0.4),
    rgba(138, 138, 150, 0.1),
    rgba(45, 45, 58, 0.1)
  ) !important;
}

.profile_img_wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 1.8rem 0 0;

  img,
  video {
    width: 380px;
    object-fit: cover;
    background: linear-gradient(
      to bottom right,
      rgba(17, 25, 43, 0.4),
      rgba(138, 138, 150, 0.1),
      rgba(45, 45, 58, 0.1)
    );
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
