.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
  padding: 0.5rem;
  position: relative;
  top: -10px;

  section {
    padding: 3.5rem 3.5rem 2.9rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    color: white;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1.2rem 0 42px;
    color: var(--primary-color);
  }

  p {
    font-size: 1rem;
    color: white;
    line-height: 1.8;
  }

  .buttons {
    display: flex;
  }

  button {
    all: unset;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 1.2rem 1.2rem 1.2rem 4.1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 225px;
    position: relative;
    margin-right: 1.2rem;

    span {
      position: absolute;
      left: 26px;
      top: 17px;
    }
  }
}

.menu_mini {
  display: none !important;
}

.linkedin {
  width: 143px !important;
  background: linear-gradient(
    to bottom right,
    rgba(17, 25, 43, 0.4),
    rgba(138, 138, 150, 0.1),
    rgba(45, 45, 58, 0.1)
  ) !important;
}

.profile_img_wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 1.8rem 0 0;

  img,
  video {
    width: 380px;
    object-fit: cover;
    background: linear-gradient(
      to bottom right,
      rgba(17, 25, 43, 0.4),
      rgba(138, 138, 150, 0.1),
      rgba(45, 45, 58, 0.1)
    );
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

@media screen and (max-width: 1450px) {
  .about {
    flex: 2;
  }

  video {
    width: 280px !important;
  }
}

@media screen and (max-width: 1200px) {
  video {
    width: 225px !important;
    height: 231px !important;
  }

  .about {
    section {
      padding: 2rem 2rem 1.4rem;
      margin-bottom: 1.3rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 0.8rem;
    }

    .buttons {
      button {
        padding: 0.8rem 0.8rem 0.8rem 2.4rem;
        font-size: 0.8rem;
        width: 180px;

        span {
          position: absolute;
          left: 18px;
          top: 14px;
          font-size: 1rem;
        }
      }

      .linkedin {
        width: 113px !important;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  main {
    width: 100% !important;
  }

  video {
    border-radius: 50% !important;
    margin-top: -2.5rem !important;
    width: 180px !important;
    height: 180px !important;
  }

  .about {
    padding-top: 0.4rem;

    section {
      padding: 1.3rem 1.3rem 0.9rem;
      margin-bottom: 0.3rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0rem;
    }

    h2 {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      margin-bottom: 5px;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
    }

    .buttons {
      flex-direction: column;
      gap: 0.5rem;
      align-items: space-between;

      button {
        width: 100% !important;
        box-sizing: border-box !important;
        padding: 1rem 0.8rem 1rem 1.2rem !important;
        background-color: #1a202c !important;
        border-radius: 1.2rem !important;

        span {
          display: none !important;
        }
      }

      .menu_mini {
        display: block !important;
      }

      .linkedin {
        width: 100% !important;
        background-color: transparent !important;
      }
    }
  }
}
