.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.9rem;
  width: 100%;
  justify-content: left;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #4a90e2;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #101622;
}

section {
  margin: 2rem 0;
}

h4 {
  margin: 0rem 0;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  color: white !important;
}

.material_symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1rem;
  background-color: #232f48;
  padding: 0.3rem;
  border-radius: 50%;
}

.material-symbols-outlined {
  position: absolute;
  left: -33px;
  top: -3px;
  font-size: 1rem;
  background-color: #232f48;
  padding: 0.3rem;
  border-radius: 50%;
}
