:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #4a90e2;
}

body {
  margin: 3rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #101622;
}

h4 {
  margin: 0rem 0;
}

.material_symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1rem;
  background-color: #232f48;
  padding: 0.3rem;
  border-radius: 50%;
}
.material-symbols-outlined {
  position: absolute;
  left: -33px;
  top: -3px;
  font-size: 1rem;
  background-color: #232f48;
  padding: 0.3rem;
  border-radius: 50%;
}
